.container {
  margin: 3rem auto;
  position: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-family: Lato;
  padding-bottom: 20px;
  color: #4b5b60;


}




